.container{
    text-align: center;
    background-color: gainsboro;
    max-width: 800px;
    padding: 50px;
    margin: auto;
}
body{
    background-color: gray;
}
label {
    display: inline-block;
    width: 150px;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

input[type="button"] {
    background-color: mediumblue;
    color: cornsilk;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}